.container{
  min-height: 10vh;
  background-color: rgb(19, 57, 85);
  color: white;
  display: grid;
  grid-template-columns: 3fr 4fr 3fr;
  justify-content: center;
  align-items: center;
}

/* a hidden psudo element to take up the spaces of 3fr*/
.container::before{
  content: "";
  visibility: hidden;
}

.header-left {
  width: 100%;
  height: 100%;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-right {
  justify-self: center;
}

.search {
  width: 70%;
  height: 50%;
  background-color: aliceblue;
  border-radius: 10px;
  display: flex;
  font-size: 20px;
  padding-right: 10px;
  justify-content: flex-end;
  align-items: center;
}

.userBtn {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: transparent;
  background-color: aliceblue;
  font-size: 20px;
}