.header-title {
  font-size: 1.5rem;
  /* font-weight: 400; */
}
.header-time {
  font-size: 1.1rem;
}
.weather-item {
  display: grid;
  grid-template-columns: 2fr 13fr;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid lightgrey;
  font-size: large;
}
.weather-item-info {
  display: grid;
  grid-template-columns: 8fr 5fr;
  align-items: center;
}
.weather-item-info-1{
  display: grid;
  grid-template-columns: 3fr 5fr;
  align-items: center;

}
.weather-item-info-2 {
  display: grid;
  grid-template-columns: 3fr 3fr;
  align-items: center;

}
.weather-item-description {
  display: flex;
  text-align: start;
  align-items: center;
}
.weather-item-precipitation {
  display: flex;
  text-align: start;
  align-items: center;
}
.weather-item-wind {
  text-align: start;
}
img {
  width: 50px;
  height: 50px;
  margin-right: 3px;
}
@media (max-width: 850px) and (min-width: 600px) {
  .weather-item {
    display: grid;
    grid-template-columns: 1fr 13fr;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
    font-size: medium;
  }
  .weather-item-info {
    grid-template-columns: 8fr 5fr;
    align-items: center;
    justify-content: center;
  }
  .weather-item-info-1{
    grid: auto-flow dense / 70%;
    align-items: center;
    justify-content: center;
  }
  .weather-item-info-2 {
    grid: auto-flow dense / 70%;
    align-items: center;
    justify-content: center;
  }
  .weather-item-description {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .weather-item-precipitation {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .weather-item-wind {
    text-align: center;
  }
  img {
    width: 30px;
    height: 30px;
    margin-right: 3px;
  }
}
@media (max-width: 600px) {
  .weather-item {
    display: grid;
    grid-template-columns: 1fr 13fr;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
    font-size: medium;
  }
  .weather-item-info {
    grid: auto-flow dense / 70%;
    align-items: center;
    justify-content: center;
  }
  .weather-item-info-1{
    grid: auto-flow dense / 100%;
    align-items: center;
    justify-content: center;
  }
  .weather-item-info-2 {
    grid: auto-flow dense / 100%;
    align-items: center;
    justify-content: center;
  }
  .weather-item-description {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .weather-item-precipitation {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .weather-item-wind {
    text-align: center;
  }
  img {
    width: 30px;
    height: 30px;
    margin-right: 3px;
  }
}